// Ideb styles

.ideb {
  .column(12);
}

.ideb-header {
  .column(12);
  margin: 20px 0;
}

.ideb-title {
  float: left;
  font-size: 2.2rem;
  font-weight: 700;
}

.social-list {
  float: right;
  list-style: none;
  border: 1px solid @f-text;
  padding-left: 0;

  a {
    text-decoration: none;
  }

}

.social-item {
  display: inline-block;
  color: @f-text;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-right: 1px solid @f-text;
}


// Table

.ideb-table {
  width: 100%;
  border: 1px solid @ft-text;

  th {
    padding: 16px;
    font-size: 1.2rem;
    font-weight: 800;
    color: @f-text;
    border-right: 1px solid @ft-text;
  }

}

.ideb-search {
  margin-left: 5px;
  width: 140px;
  position: relative;

  input {
    height: 30px;
    padding-left: 30px;
    outline: 0;
    border-radius: 4px;
    font-size: 1.2rem;
  }

  &:before {
    content: "\f002";
    font-family: 'FontAwesome';
    color: @t-text;
    font-size: 1.6rem;
    position: absolute;
    left: 6px;
    top: -2px;
  }
}

.ideb-tbody {

  td {
    border: 1px solid @ft-text;
    padding: 15px;
  }
}

.ideb-city {
  text-align: center;
}

.city-name {
  text-align: left;

  h1 {
    font-size: 1.6rem;
    color: @f-text;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.2rem;
  }
}

// Responsive

@media (max-width: 768px) {

  .ideb-table {
    display: inline-block;
    position: relative;
    max-width: 100%;
  }

  .ideb-table {

    thead {
      width: 30%;
    }

    tbody {
      width: 70%;
      overflow-x: scroll;
    }

  }

  .ideb-table thead,
  .ideb-table tbody,
  .ideb-table th,
  .ideb-table td,
  .ideb-table tr {
    display: block;
  }

  .ideb-table {

    td {
      height: 100px;
    }

    th {
      height: 100px;
    }

  }

  .ideb-table {

    thead {
      float: left;
    }

    tbody {
      position: relative;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }

  }

  .ideb-table tbody tr {
    display: inline-block;
  }

  // Utility class

  .mobile-hidden {
    display: none;
  }

}
