// Ideb styles

.ideb {
  .column(12);
}

.ideb-header {
  .column(12);
}

.ideb-title {
  float: left;
}

.social-list {
  float: right;
  list-style: none;
  border: 1px solid @f-text;
  padding-left: 0;

  a {
    text-decoration: none;
  }

}

.social-item {
  display: inline-block;
  color: @f-text;
  font-size: 1.4rem;
  padding: 10px 10px;
  border-right: 1px solid @f-text;
}


// Table

.ideb-table {
  width: 100%;
  border: 1px solid @ft-text;
}

.ideb-tbody {
}

.ideb-city {
  text-align: center;
}
